<ul ui-sortable="sortableOptions" class="inputs" ng-model="inputs.data">
	<li class="input__row" ng-class="{can__remove : inputs.data.length > 1}" ng-repeat="input in inputs.data track by $index">
		<div class="handle"></div>
		<div class="content" contenteditable="true" ng-model="inputs.data[$index]"></div>
		<button class="area__btn area__add" ng-click="addInput()">+</button>
		<button class="area__btn area__remove" ng-hide="inputs.data.length == 1" ng-click="removeInput($index)">-</button>
	</li>
</ul>
<div class="data__display">
	<pre>{{inputs | json}}</pre>
</div>